In [4]:
dic={1:[1,2], 2:[3,4]}

In [10]:
print(dic)
print(dic[1])
print(type(dic))

{1: [1, 2], 2: [3, 4]}
[1, 2]
<class 'dict'>

In [21]:
import pandas as pd
a=pd.DataFrame([1,2,3,4,'Nan'])
print(a)

     0
0    1
1    2
2    3
3    4
4  Nan

In [23]:
pd.isnull(a)

       0
0  False
1  False
2  False
3  False
4  False