In [10]:
import pandas as pd

In [53]:
a=pd.Series([1,2,3,4],index=['a','b','c','c'])

In [55]:
print(a['c'])
print(a)

c    3
c    4
dtype: int64
a    1
b    2
c    3
c    4
dtype: int64

In [43]:
b=pd.Series([1,2,3,4])

In [45]:
print(b)

0    1
1    2
2    3
3    4
dtype: int64

In [141]:
#pd.Series(딕셔너리와 비슷, column, index, name)
#pd.DataFrame(딕셔너리와 비슷, column, index)

In [63]:
index=['a','b','c','c']
a1=pd.Series([1,2,3,4],index=index)
a2=pd.Series([5,6,7,8],index=index)

b1=pd.DataFrame({'Younghee':a1, 'Chulsu':a2})
print(b1)

   Younghee  Chulsu
a         1       5
b         2       6
c         3       7
c         4       8

In [99]:
index=['a','b','c','c']
data={
    '영희':[1,2,3,4],
    '철수':[5,6,7,8]
}
b2=pd.DataFrame(data,index=index)
print(b2)

   영희  철수
a   1   5
b   2   6
c   3   7
c   4   8

In [101]:
print(b2.dtypes)

영희    int64
철수    int64
dtype: object

In [103]:
b2.astype('float')
print(b2.dtypes)
b2=b2.astype({'영희':'float'})
print(b2.dtypes)
b2=b2.astype('float')
print(b2.dtypes)

영희    int64
철수    int64
dtype: object
영희    float64
철수      int64
dtype: object
영희    float64
철수    float64
dtype: object

In [137]:
pd.read_csv('1.csv')

   Unnamed: 0  a  b  c
0         100  1  2  3
1         200  4  5  6

In [139]:
pd.read_csv('1.csv',index_col=0)

     a  b  c
100  1  2  3
200  4  5  6

In [ ]:
ingredients = pd.Series(['4 cups','1 cup','2 large','1 can'], index=['Flour', 'Milk', 'Eggs', 'Spam'], name='Dinner')

# Check your answer
q3.check()
ingredients

In [ ]:
reviews = pd.read_csv('../input/wine-reviews/winemag-data_first150k.csv',index_col=0)

# Check your answer
q4.check()
reviews

In [ ]:
animals = pd.DataFrame({'Cows': [12, 20], 'Goats': [22, 19]}, index=['Year 1', 'Year 2'])
animals

In [ ]:
# Your code goes here
animals.to_csv('cows_and_goats.csv')
pd.DataFrame.to_csv(animals, "cows_and_goats.csv")
# Check your answer
q5.check()

In [276]:
index=['a','b','c','c']
data={
    '영희':[1,2,3,4],
    '철 수':[5,6,7,8]
}
b2=pd.DataFrame(data,index=index)
print(b2)

   영희  철 수
a   1    5
b   2    6
c   3    7
c   4    8

In [161]:
print(b2['영희'])
print(b2['영희'][0])
print(b2['영희'][1:])
print(type(b2['영희']))

a    1
b    2
c    3
c    4
Name: 영희, dtype: int64
1
b    2
c    3
c    4
Name: 영희, dtype: int64
<class 'pandas.core.series.Series'>

C:\Users\Administrator\AppData\Local\Temp\ipykernel_7112\2504978142.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(b2['영희'][0])

In [205]:
print(b2.iloc[1:])
print(b2.iloc[1:,1])
print(b2.iloc[:2,0])



print(b2.loc['a','영희'])
print(b2.loc[:,'철 수'])
print('111111111111111')
print(b2.loc[:,['영희','철 수']])

   영희  철 수
b   2    6
c   3    7
c   4    8
b    6
c    7
c    8
Name: 철 수, dtype: int64
a    1
b    2
Name: 영희, dtype: int64
1
a    5
b    6
c    7
c    8
Name: 철 수, dtype: int64
111111111111111
   영희  철 수
a   1    5
b   2    6
c   3    7
c   4    8

In [215]:
# 특정 컬럼을 인덱스로 사용하겠다.
b2=b2.set_index("철 수")
print(b2)

     영희
철 수
5     1
6     2
7     3
8     4

In [236]:
# 조건은 컬럼명에만 들어갈 수 있다.
print(b2.loc[b2.영희 == 1])
print(b2.loc[b2.영희 >= 3])
print(b2.loc[b2.영희 == 2])

   영희  철 수
a   1    5
   영희  철 수
c   3    7
c   4    8
   영희  철 수
b   2    6

In [250]:
b2.T

     a  b  c  c
영희   1  2  3  4
철 수  5  6  7  8

In [ ]:
# isin 함수
# notnull 함수

In [278]:
print(b2)
b2['영철']=range(len(b2),0,0-1)
print(b2)

   영희  철 수
a   1    5
b   2    6
c   3    7
c   4    8
   영희  철 수  영철
a   1    5   4
b   2    6   3
c   3    7   2
c   4    8   1

In [ ]:
# Your code here
desc = reviews['description']

In [ ]:
first_description = reviews.loc[0,'description']

In [ ]:
first_row = reviews.iloc[0,:]

In [ ]:
first_descriptions = reviews.loc[:,'description'].head(10)

In [ ]:
sample_reviews = reviews.iloc[[1,2,3,5,8],:]
df = reviews.loc[[0,1,10,100],['country','province','region_1','region_2']]
df = reviews.loc[0:99,['country','variety']]
italian_wines = reviews.loc[reviews.country=='Italy']
top_oceania_wines = reviews.loc[reviews.country.isin(['Australia','New Zealand']) & (reviews.points>=95)]